extends ./layout/index

block contenido 
  main.container.mt-5 
    .row 
      .col-md-5 
        img(src="/img/nosotros.jpg", alt="imagen sobre nostros", class='img-fluid')
      .col-md-7
        h1= pagina
        blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit voluptates at, autem illo corrupti odit consequuntur eum voluptatum tempore dolorum. Odit reiciendis nobis libero distinctio impedit et quia quidem sit.Odit, voluptatibus? Blanditiis unde cumque rem, iure provident nesciunt non placeat sapiente facilis? Temporibus voluptas iste possimus laborum fugiat voluptate labore inventore asperiores, omnis expedita soluta quia pariatur dolor nulla.Saepe veniam earum, repellat vel quae, sit vero deserunt maiores eius quas qui ratione ullam pariatur dolore illo mollitia nulla, odit hic. Qui explicabo odio optio eligendi fugiat iusto expedita!Ad quae id nisi esse laudantium asperiores non ratione tempore, ipsam, doloremque eius veritatis. Amet possimus tempore debitis minima repudiandae consequatur corrupti est vero, perferendis laboriosam voluptate enim, nobis hic.

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sunt hic quas quasi esse, molestias vero nostrum impedit nulla adipisci libero animi praesentium quos minima. Ipsum animi consequuntur officiis repellat!Earum repudiandae, aspernatur in officiis rem quod quasi provident ea officia laborum vitae, tenetur laboriosam dolore ullam incidunt veritatis delectus vero placeat fugit odio consequatur sit et vel amet. Obcaecati.Non rem molestias repellat maiores aliquam eveniet, quo fugiat? Nihil, minima dolor molestiae eius sequi consequatur quod ea est, debitis tenetur iure maiores voluptas! Itaque enim eum quo alias corrupti?

        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni error sapiente architecto, adipisci similique amet nesciunt fugit tempore. Accusantium quaerat animi aperiam fuga velit similique numquam culpa veritatis nesciunt consequatur.
  .listado-iconos 
    .container.mt-5.py-5.text-center 
      .row 
        .col-md-4 
          img(src="img/icono_seguridad.svg", alt="icono seguridad" class='img-fluid mb-4')
          h2.mb-4 Seguridad 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quisquam beatae harum. Adipisci harum iure id quae explicabo repudiandae laudantium!
        .col-md-4 
          img(src="img/icono_destinos.svg", alt="icono destinos" class='img-fluid mb-4')
          h2.mb-4 Mejores Destinos
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quisquam beatae harum. Adipisci harum iure id quae explicabo repudiandae laudantium!
        .col-md-4 
          img(src="img/icono_precios.svg", alt="icono precios" class='img-fluid mb-4')
          h2.mb-4 Mejores Precios
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quisquam beatae harum. Adipisci harum iure id quae explicabo repudiandae laudantium!